.body-container{
    background-color: white;
    padding: 30px;
    margin: 100px;
    justify-content: space-evenly;
    border: 3px solid;
     box-shadow: 0 2px 4px black;
}



.cv-img{
    width: 200px;
    height: 200px;
    border-radius: 100px;


}


.info-p{
display: flex;
flex-direction: column;



}
.name-h1{
    display: flex;
    background-color: beige;
    justify-content: center;
}

h3{
    color: blue;
}

.cover-img{
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 30px;
}